extends partial/layout

block content
  //- 添加全屏一言容器
  #hitokoto-container
    #hitokoto 正在加载一言...
    #hitokoto-author
    //- script(src="/js/hitokoto.js")

  //- 原有内容保持不变
  .autopagerize_page_element: .content
    .archive
      ul.list-with-title
        include mixins
        +postList
        +make_pager(__('prev'), __('next'))
